## Pandas Basic

In [1]:
import pandas as pd
df = pd.read_csv('services.csv')

In [10]:
# DataFrame is like a Table

list(df.columns)

['id',
 'location_id',
 'program_id',
 'accepted_payments',
 'alternate_name',
 'application_process',
 'audience',
 'description',
 'eligibility',
 'email',
 'fees',
 'funding_sources',
 'interpretation_services',
 'keywords',
 'languages',
 'name',
 'required_documents',
 'service_areas',
 'status',
 'wait_time',
 'website',
 'taxonomy_ids']

In [11]:
df.head(5)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [13]:
df.tail(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [14]:
df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [15]:
df.describe()

             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN

In [21]:
type(df['name'])

pandas.core.series.Series

In [22]:
type(df[['name']])

pandas.core.frame.DataFrame

In [29]:
df['name']

0          Fair Oaks Adult Activity Center
1         Second Career Employment Program
2                   Senior Peer Counseling
3                 Family Visitation Center
4        Economic Self-Sufficiency Program
5     Little House Recreational Activities
6         Rosener House Adult Day Services
7           Meals on Wheels - South County
8                         Fair Oaks Branch
9                             Main Library
10                         Schaberg Branch
11                            Project Read
12                   Redwood Shores Branch
13                      Redwood City Corps
14             Adult Rehabilitation Center
15                         Sunnyvale Corps
16       South San Francisco Citadel Corps
17                           Project Smile
18           San Mateo Free Medical Clinic
19               Service with blank fields
20         Service for Admin Test Location
21                         Passport Photos
22                    Example Service Name
Name: name, dtype: object

In [30]:
df[['name','description']]

,name,description
0,Fair Oaks Adult Activity Center,A walk-in center for older adults that provide...
1,Second Career Employment Program,Provides training and job placement to eligibl...
2,Senior Peer Counseling,Offers supportive counseling services to San M...
3,Family Visitation Center,Provides supervised visitation services and a ...
4,Economic Self-Sufficiency Program,Provides fixed 8% short term loans to eligible...
5,Little House Recreational Activities,A multipurpose center offering a wide variety ...
6,Rosener House Adult Day Services,Rosener House is a day center for older adults...
7,Meals on Wheels - South County,Delivers a hot meal to the home of persons age...
8,Fair Oaks Branch,"Provides general reading material, including b..."
9,Main Library,"Provides general reading and media materials, ..."
10,Schaberg Branch,"Provides general reading materials, including ..."
11,Project Read,Offers an intergenerational literacy program f...
12,Redwood Shores Branch,"Provides general reading materials, including ..."
13,Redwood City Corps,"Provides food, clothing, bus tokens and shelte..."
14,Adult Rehabilitation Center,Provides a long-term (6-12 month) residential ...
15,Sunnyvale Corps,Provides emergency assistance including food a...
16,South San Francisco Citadel Corps,"Provides emergency food, clothing and furnitur..."
17,Project Smile,"By appointment only, Project Smile provides a ..."
18,San Mateo Free Medical Clinic,Provides free medical and dental care to those...
19,Service with blank fields,no unrequired fields for this service
20,Service for Admin Test Location,just a test service
21,Passport Photos,[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...
22,Example Service Name,[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...

In [2]:
df = pd.read_excel("market_data.xlsx")

In [5]:
df.shape

(28, 10)

In [7]:
df.to_csv("market_data.csv",index=False)

In [13]:
# Read HTML
import lxml
df = pd.read_html("https://www.w3schools.com/python/python_datatypes.asp")
df[2]

                                         Example   Data Type    Try it
0                         x = str("Hello World")         str  Try it Â»
1                                    x = int(20)         int  Try it Â»
2                                x = float(20.5)       float  Try it Â»
3                                x = complex(1j)     complex  Try it Â»
4        x = list(("apple", "banana", "cherry"))        list  Try it Â»
5       x = tuple(("apple", "banana", "cherry"))       tuple  Try it Â»
6                                   x = range(6)       range  Try it Â»
7                  x = dict(name="John", age=36)        dict  Try it Â»
8         x = set(("apple", "banana", "cherry"))         set  Try it Â»
9   x = frozenset(("apple", "banana", "cherry"))   frozenset  Try it Â»
10                                   x = bool(5)        bool  Try it Â»
11                                  x = bytes(5)       bytes  Try it Â»
12                              x = bytearray(5)   bytearray  Try it Â»
13                      x = memoryview(bytes(5))  memoryview  Try it Â»

In [15]:
df[2].columns

Index(['Example', 'Data Type', 'Try it'], dtype='object')

In [16]:
df[2].to_csv("data_types.csv", index=False)

In [30]:
import pandas as pd
import numpy as np

# create a 3D numpy array
data = np.random.rand(2, 3, 4)
data

array([[[0.72598404, 0.34553659, 0.62672695, 0.87531312],
        [0.82467871, 0.79660697, 0.53285766, 0.90945654],
        [0.38314265, 0.98102564, 0.06678045, 0.38206709]],

       [[0.43014168, 0.21827158, 0.51716043, 0.19421389],
        [0.00494437, 0.76355958, 0.48320725, 0.99089457],
        [0.27918704, 0.26422492, 0.94400302, 0.8655392 ]]])

In [27]:
data

array([0.01487404, 0.55886303])